#Header {
    text-align: center;
    border: black 2px double;
    border-radius: 25px;
    width: 95.5%;
    color: grey;
    margin-bottom: 1%;
    margin-left: 1%;
    background-color: rgb(0, 0, 0);
	opacity: 0.5;
}

#Navigation{
    width: 20%;
    height: 550px;
    font-size: 20px;
    border: black 2px double;
    float: left;
    padding-left: 0.5%;
    margin: 1%;
    background-color: rgba(192,192,192,0.3);
}

#show_part{
    width: 72.5%;
    height: 550px;
    font-size: 20px;
    border: black 2px double;
    float: left;
    padding-left: 0.5%;
    margin: 1%;
    background-color: rgba(192,192,192,0.3);
}

#Footer{
    width: 95.5%;
    text-align: center;
    border: black 2px double;
    border-radius: 25px;
    color: red;
    clear: both;
    margin-left: 1%;
    margin-top: 1%;
    background-color: rgb(0, 0, 0);
    opacity: 0.5;
}
